.all-questions{
    display: flex;
    width:100%;
    padding:20px 0px;
    border-bottom: 1px solid #eee;
}

.all-questions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.all-questions-left{
    display: flex;
    margin-right: 30px;
}

.all-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(0,0,0,0.7);
    font-size: small;
}

.all-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.all-option > p{
    font-size: large;
}

.question-answer{
    display: flex;
    flex-direction: column;
    width:100%;
}

.question-answer> a{
    color: #0151f0d8;
    font-size:1.1rem;
    margin-bottom: 10px;
}

.question-tags{
    margin:10px 5px;
    padding :5px 10px;
    background-color: #0151f03d;
    border-radius: 3px;
}

.author{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.author > small{
    color:rgba(0,0,0,0.7);
    margin-bottom: 5px;
}

.author-details{
    display: flex;
    align-items: center;
}

.author-details > p{
    margin-left: 5px;
    font-size:small;
    color:#0151f0d8;
}

/* css of filter pop-up and card  */
.card3 {
    background-color: #eee;
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
    height: 22vh;
  }

  .filter_main{
     width:10%;
     position: absolute;
     top: 190px;
     right: 35px;
     z-index: 1;
  }